
@foreach (var item in ViewData["NewsList"] as IEnumerable<ContentPlus.Models.NewsAdmin>)
{
    <div class="n-item">
                        <h3 class="h4">@item.Title</h3>
                        <p class="small">@String.Format("{0:D}", @item.CreatedDate) </p>
        <p>
            @*@if (item.Photo1 != null)
            {
                <img src="@Url.Content(item.Photo1)" width="74" height="56" class="pull-left img-f">
            }
            else
            {
                <img src="~/Articles/Images/No_image.png" width="74" height="56" class="pull-left img-f">
            }*@
            <img src='@Url.Content("http://news.catholicate.net/" + item.FilePath)' width="107" height="82" class="pull-left img-f">
            @if (item.Description.Length > 250)
            {
            <p>@Html.Raw(HttpUtility.HtmlDecode(item.Description.Substring(0, 250)));</p>
            }
            else
            {
                <p>@Html.Raw(HttpUtility.HtmlDecode(item.Description));</p>
            }
         <p class="text-right"><a href='@Url.Content("http://news.catholicate.net/NewsDetails.aspx?NewsType=News&ID=" + item.ID)'><strong>Read More...</strong></a></p>                        
        </div>
    return;
}





